{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Form</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  </head>
  <body>
    <div class="login-all">
      <div class="login-container">
        <h2>Login</h2>
        <form method="post" action="{% url 'login' %}">

          {% csrf_token %} 
          {{ form.as_p }}
          {% comment %} <label for="username">Username:</label>
          <input
            type="text"
            id="username"
            name="username"
            placeholder="Enter your username"
            required
          />

          <label for="password">Password:</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Enter your password"
            required
          /> {% endcomment %}

          <button type="submit">Login</button>
        </form>
      </div>
    </div>
  </body>
</html>
